.root {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: .5rem;
}

.heading {
	display: inline-block;
	margin-top: 0;
}

.imageWrapper {
	position: relative;
	display: inline-block;

	max-width: 20rem;
	border-radius: .5em;
}

.imgTiltWrapper {
	position: relative;
}

.imgTiltWrapper [data-rmiz-trigger] {
	margin: 0 !important;
	z-index: 3;
	outline: none !important;
}

.image {
	box-shadow: var(--elevate-before);
	transition-property: box-shadow;
	transition-duration: 5s;
	transition-timing-function: var(--elevate-bezier);
	border-radius: .5em;
}

.imageWrapper:focus-within .image,
.imageWrapper:hover .image {
	box-shadow: var(--elevate-after);
}

.fakeImageWrapperInitial {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
}

.fakeImageWrapper {
	composes: fakeImageWrapperInitial;
	transition: opacity 0s;
	transition-delay: .3s;
}

.fakeImageWrapperZoomed {
	composes: fakeImageWrapperInitial;
	opacity: 1;
	pointer-events: none;
	transform: translateZ(1100px);
}

.fakeImage {
	border-radius: .5em;
}

:global [data-rmiz-overlay],
:global [data-rmiz-overlay] img {
	transform: translateZ(1000px);
}

:global [data-rmiz-overlay] > div:first-child {
	opacity: 0;
	transition-property: opacity !important;
	transition-duration: .3s !important;
	transition-timing-function: var(--elevate-bezier) !important;
}

.infoOverlay {
	position: absolute;
	top: 0;
	right: 0;
	padding: .5rem;
	z-index: 4;
	transform: translateZ(100px);
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.gradient {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s var(--elevate-bezier);
}

.infoOverlayContent {
	position: relative;
	display: flex;
	align-items: center;
	height: 1.73em;
	width: max-content;
}

.infoOverlayText {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 2em;
	color: var(--t);
	font-size: small;
	opacity: 0;
	transition: opacity .1s var(--elevate-bezier);
	pointer-events: none;
	z-index: 2;
}

.download {
	composes: root from '../button/button.module.css';
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	padding: .3em;
	line-height: 0;

	opacity: .3;
	transition-property: color, border-color, background-color, opacity, width;
	transition-duration: .1s;
	transition-timing-function: var(--elevate-bezier);

	position: absolute;
	top: 0;
	right: 0;
	width: 1.73em;
}

.imageWrapper:focus-within .infoOverlay,
.imageWrapper:hover .infoOverlay,
.download:focus,
.imageWrapper:hover .download {
	opacity: 1;
}

.infoOverlay:focus-within .infoOverlayText,
.imageWrapper:hover .infoOverlayText {
	opacity: 1;
}

.imageWrapper:focus-within .gradient,
.imageWrapper:hover .gradient {
	opacity: .8;
}

.download:focus,
.imageWrapper:hover .download {
	color: var(--t);
	width: calc(100% + .4em);
}
