:root {
	--t-weaker: #d1d1d1;
	--t-weak: #767676;
	--t: #37352f;
	--t-strong: #1d1c1b;
	--t-stroger: #000000;

	--b-weaker: #ffffff;
	--b-weak: #f8f8f7;
	--b: #f2f1ed;
	--b-strong: #e8e7e0;
	--b-stroger: #f2f1ed;

	--a1-weaker: #a7e2bf;
	--a1-weak: #71d099;
	--a1: #3cb46e;
	--a1-strong: #37a465;
	--a1-stroger: #2a7e4d;

	--a1-translucent: #3cb46eaa;
	--a1-c: #ffffff;

	--shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04);

	--elevate-bezier: cubic-bezier(.17, .67, .24, 1.01);
	--elevate-before:
		0 1px 1px rgba(0, 0, 0, 0.02),
		0 2px 2px rgba(0, 0, 0, 0.02), 
		0 4px 4px rgba(0, 0, 0, 0.02), 
		0 8px 8px rgba(0, 0, 0, 0.02),
		0 16px 16px rgba(0, 0, 0, 0.02);

	--elevate-after:
		0 6px 6px rgba(0, 0, 0, 0.02),
		0 7px 7px rgba(0, 0, 0, 0.02), 
		0 9px 9px rgba(0, 0, 0, 0.02), 
		0 13px 13px rgba(0, 0, 0, 0.02),
		0 21px 21px rgba(0, 0, 0, 0.02);
	
}

button {
	cursor: pointer;
}
