:root {
	--t-weaker: #d1d1d1;
	--t-weak: #767676;
	--t: #37352f;
	--t-strong: #1d1c1b;
	--t-stronger: #000000;

	--b-weaker: #ffffff;
	--b-weak: #f8f8f7;
	--b: #f2f1ed;
	--b-strong: #e8e7e0;
	--b-stronger: #c1c1c1;

	--a1-weaker: #a7e2bf;
	--a1-weak: #71d099;
	--a1: #3cb46e;
	--a1-strong: #37a465;
	--a1-stronger: #2a7e4d;

	--a1-gradient: linear-gradient(-45deg, #3fa86b, #42c478);
	--a1-gradient-strong: linear-gradient(-45deg, #37a465, #37a465);

	--a1-translucent: #3cb46eaa;
	--a1-translucent-weaker: #3cb46e77;

	--a1-c: #ffffff;

	--shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04);

	--elevate-bezier: cubic-bezier(.17, .67, .24, 1.01);
	--elevate-before:
		0 1px 1px rgba(0, 0, 0, 0.05),
		0 2px 2px rgba(0, 0, 0, 0.05), 
		0 4px 4px rgba(0, 0, 0, 0.05), 
		0 8px 8px rgba(0, 0, 0, 0.05),
		0 16px 16px rgba(0, 0, 0, 0.05);

	--elevate-before-filter:
		drop-shadow(0 1px 1px rgba(0, 0, 0, 0.03))
		drop-shadow(0 2px 2px rgba(0, 0, 0, 0.03))
		drop-shadow(0 4px 4px rgba(0, 0, 0, 0.03))
		drop-shadow(0 8px 8px rgba(0, 0, 0, 0.03))
		drop-shadow(0 16px 16px rgba(0, 0, 0, 0.03));

	--elevate-weak:
		0 1px 1px rgba(0, 0, 0, 0.03),
		0 2px 2px rgba(0, 0, 0, 0.03), 
		0 4px 4px rgba(0, 0, 0, 0.03), 
		0 8px 8px rgba(0, 0, 0, 0.03),
		0 16px 16px rgba(0, 0, 0, 0.03);

	--separate:
		1px 0 1px 1px var(--b),
		2px 0 2px 2px var(--b), 
		4px 0 4px 4px var(--b), 
		8px 0 8px 8px var(--b),
		32px 0 32px 32px var(--b),
		64px 0 64px 64px var(--b);

	--elevate-after:
		0 6px 6px rgba(0, 0, 0, 0.05),
		0 7px 7px rgba(0, 0, 0, 0.05), 
		0 9px 9px rgba(0, 0, 0, 0.05), 
		0 13px 13px rgba(0, 0, 0, 0.05),
		0 21px 21px rgba(0, 0, 0, 0.05);

	--neumorphic:
		.5em .5em 1em var(--b-stronger),
		-.5em -.5em 10px var(--b-weaker);

	--link-bg: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3Crect x='0' y='.5' width='1' height='.5' fill='rgba(0, 0, 0, .3)'/%3E%3C/svg%3E");

	--link-bg-focus: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3Crect x='0' y='.5' width='1' height='.5' fill='rgba(237, 6, 12, .3)' /%3E%3C/svg%3E");
}

body {
	color: var(--t);
	background-color: var(--b);
	overflow-x: hidden;
}

/*! normilio v1.0.0 | BSL-1.0 License | https://github.com/mvoloskov/normilio */
*,
*::before,
*::after {
	box-sizing: border-box;
	line-height: 1.5;
	backface-visibility: hidden;
	text-decoration: inherit;
	vertical-align: inherit;
}

:root {
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
}

code,
pre {
	tab-size: 4;
	font-family: monospace;
}

body {
	margin: 0;
}

img {
	display: block;
	height: auto;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

[hidden] {
	display: none !important;
}

input {
	font-family: inherit;
}

textarea {
	resize: vertical;
}

[aria-busy="true"] {
	cursor: progress;
}

[disabled],
[aria-disabled="true"] {
	cursor: default;
}

[aria-controls] {
	cursor: pointer;
}

button {
	cursor: pointer;
	font-family: inherit;
}

.butter-loading {
	filter: contrast(0%) brightness(150%) !important;
}

.butter-loading.butter-loaded {
	filter: none !important;
}

/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; max-width: 20rem;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; letter-spacing:.03em; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {font-size: 15px; display:block; padding:0 0.4em; margin-bottom: 10px; min-height:32px; width:100%; min-width:130px; border-radius: 3px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
